<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="card p-5 shadow-lg">
        <!-- login form -->
        <form [formGroup]="signup" (ngSubmit)="onSubmit()">

          <div class="form-floating mb-3">
            <input type="text" class="form-control  border-top-0 border-start-0 border-end-0 shadow-none rounded-0"
              id="floatingInput" placeholder="first name">
            <label for="floatingInput">First name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control  border-top-0 border-start-0 border-end-0 shadow-none rounded-0"
              id="floatingInput" placeholder="last name">
            <label for="floatingInput">Last name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control  border-top-0 border-start-0 border-end-0 shadow-none rounded-0"
              id="floatingInput" placeholder="Phone number">
            <label for="floatingInput">Phone number</label>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
