<div class="container mt-5">
  <div class="row centered d-flex justify-content-center align-items-center">
    <div class="col-lg-4">
      <div class="text-light">
        <h1>Welcome</h1>
        <p class="complete">Login to see your PAYHUB cards</p>
      </div>
      <form [formGroup]="login" (ngSubmit)="onSubmit()" class="p-2">
        <label for="email" class="form-label">Email</label>
        <div class="form-item mb-3">
          <input type="text" autocomplete="off" id="email" name="email"
            [ngClass]="{'invalid-border':formControl.email?.errors && submitted, 'valid-border':formControl.email.touched}"
            class="form-control form-text-field  shadow-none invalid-border" formControlName="email" placeholder="">
          <div class="error" *ngIf="(login.get('email')?.invalid && submitted)">
            <small class="text-danger" *ngIf="login.get('email')?.errors?.['required'] ">
              Email required
            </small>
            <small class="text-danger" *ngIf="login.get('email')?.errors?.['pattern']">
              Invalid email
            </small>
          </div>
        </div>

        <label for="password" class="form-label">Password</label>
        <div class="form-item mb-3">
          <input type="password" autocomplete="off" id="password" name="password"
            [ngClass]="{'invalid-border':formControl.password?.errors && submitted}"
            class="form-control form-text-field  shadow-none" formControlName="password" placeholder="">
          <div class="error" *ngIf="(login.get('password')?.invalid && submitted)">
            <small class="text-danger" *ngIf="login.get('password')?.errors?.['required'] ">
              Password required
            </small>
          </div>
        </div>
        <!-- button -->
        <button class="btn btn-dark w-100 shadow-none rounded-pill mt-3" type="submit">Login</button>
        <div class="mt-3 mb-5">
          <div class="d-flex justify-content-start">
            <p class="account"> Don't have an account?
              <a [routerLink]="['/create-card']" routerLinkActive="router-link-active"
                class="text-decoration-none text-light fw-bold ">Create card</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>