<div class="container-fluid container-background ">
  <nav class="navbar">
    <div class="container-fluid d-flex justify-content-end">
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-success btn-sm login">Login</button>
        <button type="button" class="btn btn-success btn-sm" (click)="onclick()">
          <a [routerLink]="['/signup']" routerLinkActive="router-link-active"
            class="text-decoration-none fw-bold text-white">
            Sign up
          </a>
        </button>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row  d-flex justify-content-center align-items-center">
      <!-- text -->
      <div class="col-md-6">
        <h1 class="heading">Smart Payments</h1>
        <h1 class="heading">Anyway,</h1>
        <h1 class="heading">Anytime.</h1>
        <div class="verticalLine w-50 my-2"></div>
        <div class="about text-white">
          <h6 class="text-focus-in ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis odio et
            lectus auctor venenatis.
            Phasellus finibus ligula quis dictum rhoncus.
          </h6>
        </div>
        <button type="button" class="btn btn-success btn-lg fw-bolder mt-1 create-card">CREATE CARD</button>
      </div>

      <!--image, signUp and signIn -->
      <div class="col-md-6 " *ngIf="visible">
        <img src="../../../../assets/images/card.png" alt="image" class="img-fluid photo shadow-sm">
      </div>
      <div class="col-md-6 d-flex justify-content-center align-content-center" *ngIf="!visible">
        <img src="../../../../assets/images/virtual-credit-card-technology__1_-removebg-preview.png" alt="image"
          class="img-fluid  shadow-sm">
      </div>
    </div>
  </div>

</div>
