<div class="container-fluid">
  <div class="row mt-3">
    <div class="container-fluid d-flex justify-content-end">
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-success btn-sm log rounded-0">Login</button>
        <button type="button" class="btn btn-success btn-sm rounded-0" (click)="onclick()">
          Sign up
        </button>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center">
      <!-- text -->
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <h1 class="heading">Smart Payments</h1>
        <h1 class="heading">Anyway,</h1>
        <h1 class="heading">Anytime.</h1>
        <div class="heading">
          <h6 class="text-focus-in ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis odio et
            lectus auctor venenatis.
            Phasellus finibus ligula quis dictum rhoncus.
          </h6>
        </div>
        <button type="button" class="btn btn-success btn-lg fw-bolder mt-1 create-card rounded-0">Order your
          card</button>
      </div>

      <!--image, signUp and signIn -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="" *ngIf="visible">
          <img src="../../../../assets/images/card.png" alt="image" class="img-fluid photo">
        </div>
        <div class="" *ngIf="!visible">
          <!-- <app-signup></app-signup> -->
          <app-personal-information></app-personal-information>
        </div>
      </div>
    </div>
  </div>

</div>
