<div class="container-fluid container-background">
  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center">
      <!-- text -->
      <div class="col-md-6">
        <h1 class="heading">Smart Payments</h1>
        <h1 class="heading">Anyway,</h1>
        <h1 class="heading">Anytime.</h1>

        <div class="about text-white">
          <h6 class="text-focus-in ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis odio et
            lectus auctor venenatis.
            Phasellus finibus ligula quis dictum rhoncus.
          </h6>
        </div>
      </div>

      <!--image, signUp and signIn -->
      <div class="col-md-6 ">
        <img src="../../../../assets/images/card.png" alt="image" class="img-fluid photo">
      </div>
    </div>
  </div>

</div>
