.heading{
  font-size: 70px;
   color:  #0B2230;
  //  color: #FFC859;
  font-family: Lexend Deca;
}

.text-focus-in{
  color:  #0B2230;
}


#image{
  background-image: url("../../../../assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo{
  margin-top: -19%;
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

// .verticalLine {
  // border-bottom: thick solid #70f764;
  // border-bottom: thick solid rgb(0, 0, 0);
// }

// .create-card{
  // background-color: #132412;
    // background-color:  #233f22;

// }

// .create-card:hover{
  // background-color:  #233f22;
  // color: pink;
// }
