<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="card glassy rounded-0 p-5 border-0 shadow-sm">
        <!-- signup form header-->
        <!-- <div class="header">
          <p class="text-white fs-4">Signing Up</p>
        </div> -->
        <!-- signup form -->
        <form [formGroup]="signup" (ngSubmit)="onSubmit()" class="">
          <!-- personal details -->
          <!-- first name -->
          <div class="fieldset">
            <div class=" form-floating mb-3">
              <input type="text" class="form-control  shadow-none rounded-0" id="floatingInput" placeholder="first name"
                formControlName="firstName">
              <label for="floatingInput">First name</label>
              <div class="error" *ngIf="(signup.get('firstName')?.invalid && submitted) || (signup.get('firstName')?.touched &&
                userSubmitted)">
                <small class="text-danger" *ngIf="signup.get('firstName')?.errors?.['required'] ">
                  First name required*
                </small>
              </div>
            </div>

            <!-- last name -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control shadow-none rounded-0" id="floatingInput" placeholder="last name"
                formControlName="lastName">
              <label for="floatingInput">Last name</label>
              <div class="error" *ngIf="(signup.get('lastName')?.invalid && submitted) || (signup.get('lastName')?.touched &&
                userSubmitted)">
                <small class="text-danger" *ngIf="signup.get('lastName')?.errors?.['required'] ">
                  Last name required*
                </small>
              </div>
            </div>

            <!-- phone number -->
            <div class="form-floating mb-3">
              <input type="number" class="form-control shadow-none rounded-0" id="floatingInput"
                placeholder="Phone number" formControlName="phone">
              <label for="floatingInput">Phone number</label>
              <div class="error" *ngIf="(signup.get('number')?.invalid && submitted) || (signup.get('phone')?.touched &&
                userSubmitted)">
                <small class="text-danger" *ngIf="signup.get('number')?.errors?.['required'] ">
                  Last name required*
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
