<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="px-lg-5 ">
        <!-- scale-in-center -->
        <form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
          <div class="fieldset">
            <!-- first name -->
            <label for="text">First name</label>
            <div class="form-item mb-3">

              <input type="text" autocomplete="off" required class="form-control rounded-4 shadow-none "
                formControlName="firstName">
              <div class="error" *ngIf="(personalForm.get('firstName')?.invalid && submitted)">
                <small class="text-danger" *ngIf="personalForm.get('firstName')?.errors?.['required'] ">
                  First name required
                </small>
              </div>
            </div>

            <!-- last name -->
            <label for="text">Last name</label>
            <div class="form-item mb-3">
              <input type="text" autocomplete="off" required class="form-control rounded-4 shadow-none"
                formControlName="lastName">

              <div class="error" *ngIf="(personalForm.get('lastName')?.invalid && submitted)">
                <small class="text-danger" *ngIf="personalForm.get('lastName')?.errors?.['required'] ">
                  Last name required
                </small>
              </div>
            </div>

            <!-- phone number -->
            <label for="text">Phone number</label>
            <div class="form-item mb-2">
              <input type="number" autocomplete="off" required class="form-control rounded-4 shadow-none"
                formControlName="number">

              <div class="error" *ngIf="(personalForm.get('number')?.invalid && submitted)">
                <small class="text-danger" *ngIf="personalForm.get('number')?.errors?.['required'] ">
                  Phone number required
                </small>
                <small class="text-danger" *ngIf="personalForm.get('number')?.errors?.['pattern']">
                  Phone number must not be less than 10 digits
                </small>
              </div>
            </div>
          </div>

          <!-- next section -->
          <div class="next float-end">
            <button class="btn btn-sm rounded-4 border-0 shadow-none p-0 " type="button" (click)="nextSection()"
              *ngIf="section !==3">
              <button type="button" class="btn nextForm btn-primary  text-white btn-sm px-3">Next</button>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>