<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="px-lg-5 ">
        <!-- scale-in-center -->
        <form [formGroup]="identityCard">
          <div class="fieldset">
            <!-- avatar image -->
            <label class="">Upload selfie</label>
            <div class="avatar-image text-start mb-3">
              <label for="imageUpload" class="btn btn-outlined border-0 p-0">
                <img [src]="url" class="profile shadow-sm">
              </label>
              <input type="file" (change)="onSelectFile($event)" class=" shadow-none rounded-4"
                formControlName="profilePicture" id="imageUpload" accept=".png, .jpg, .jpeg" style="display: none">
              <div class="error" *ngIf="(identityCard.get('profilePicture')?.invalid && submitted)">
                <small class="text-danger" *ngIf="identityCard.get('card')?.errors?.['required'] ">
                  Picture required
                </small>
              </div>
            </div>

            <!-- select id -->
            <label for="">Select card type</label>
            <div class="form-item mb-3">
              <select class="custom-select p-3 w-100 shadow-none rounded-4 form-control" (change)="changeCard($event)"
                formControlName="card">
                <!-- <option value="">Select card type</option> -->
                <option class="p-4" *ngFor="let card of Cards" [ngValue]="card">{{card}}</option>
              </select>
              <span class="material-symbols-outlined  float-end">
                expand_more
              </span>
              <div class="error" *ngIf="(identityCard.get('card')?.invalid && submitted)">
                <small class="text-danger" *ngIf="identityCard.get('card')?.errors?.['required'] ">
                  ID type required
                </small>
              </div>
            </div>

            <!-- id number -->
            <label for="text">ID number</label>
            <div class="form-item mb-2">
              <input type="number" autocomplete="off" required class="form-control rounded-4 shadow-none"
                formControlName="idNumber">

              <div class="error" *ngIf="(identityCard.get('idNumber')?.invalid && submitted)">
                <small class="text-danger" *ngIf="identityCard.get('idNumber')?.errors?.['required'] ">
                  ID number required
                </small>
              </div>
            </div>

            <!-- upload id image -->
            <label for="">Upload ID image</label>
            <div class="avatar-image text-center mb-3 text-center">
              <input type="file" (change)="onFileChanged($event)" class=" shadow-none rounded-3 form-control"
                accept=".png, .jpg, .jpeg">
              <div class="error" *ngIf="(identityCard.get('cardImage')?.invalid && submitted)">
                <small class="text-danger" *ngIf="identityCard.get('cardImage')?.errors?.['required'] ">
                  Card image required*
                </small>
              </div>
            </div>

            <!-- button -->
            <div class="button d-flex justify-content-between">
              <button class="btn btn-primary d-flex nextform border-0 shadow-none p-0" type="button"
                (click)="prevSection()">
                <button type="button" class="btn prevForm  text-white btn-sm">
                  Previous
                </button>
              </button>

              <button class="btn btn-primary btn-sm submit border-0 shadow-none rounded-1" type="submit"
                (click)="onSubmit()">
                SUBMIT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>