// .btn-primary{
//   background-color: #275867!important;
//   // color: white;
// }

.profile{
  width: 120px;
  height: 120px;
  border: 2px solid  #275867;

}

.submit{
  background-color:#181D6C ;
}


