.btn-primary{
  background-color: #275867!important;
  // color: white;
}

.profile{
  width: 120px;
  height: 120px;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)!important;
}

// h6{
//   color: #999;
// }