<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="px-lg-5">
        <form [formGroup]="identityCard">
          <div class="fieldset">
            <!-- select id -->
            <div class="form-item mb-3">
              <select class="custom-select p-3 w-100 shadow-none rounded-0 form-control" (change)="changeCard($event)"
                formControlName="card">
                <option value="">Select card type</option>
                <option *ngFor="let card of Cards" [ngValue]="card">{{card}}</option>
              </select>
              <div class="error"
                *ngIf="(identityCard.get('card')?.invalid && submitted) || (identityCard.get('card')?.touched)">
                <small class="text-danger" *ngIf="identityCard.get('card')?.errors?.['required'] ">
                  ID type required*
                </small>
              </div>
            </div>

            <!-- id number -->
            <div class="form-item mb-2">
              <input type="number" autocomplete="off" required class="form-control rounded-0 shadow-none"
                formControlName="idNumber">
              <label for="text">ID number</label>
              <div class="error" *ngIf="(identityCard.get('idNumber')?.invalid && submitted)">
                <small class="text-danger" *ngIf="identityCard.get('idNumber')?.errors?.['required'] ">
                  ID number required*
                </small>
              </div>
            </div>

            <!-- button -->
            <div class="button d-flex justify-content-between">
              <button class="btn d-flex nextform border-0 shadow-none p-0" type="button" (click)="prevSection()">
                <button type="button" class="btn prevForm  text-white btn-sm">
                  Previous
                </button>
              </button>

              <button class="btn btn-primary btn-sm d-flex nextform border-0 shadow-none rounded-0" type="submit"
                (click)="onSubmit()">
                SUBMIT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
