<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="px-lg-5">
        <!-- id  form -->
        <form [formGroup]="identityCard">

          <div class="fieldset">
            <!-- select id -->
            <div class="mb-3">
              <select class="custom-select p-3 w-100 shadow-none rounded-4 form-control" (change)="changeCard($event)"
                formControlName="card">
                <option value="">Select card type</option>
                <option *ngFor="let card of Cards" [ngValue]="card">{{card}}</option>
              </select>
              <div class="error"
                *ngIf="(identityCard.get('card')?.invalid && submitted) || (identityCard.get('card')?.touched)">
                <small class="text-danger" *ngIf="identityCard.get('card')?.errors?.['required'] ">
                  ID type required*
                </small>
              </div>
            </div>

            <!-- id number -->
            <div class="form-floating mb-3">
              <input type="number" class="form-control shadow-none rounded-4" id="floatingInput"
                placeholder="Phone number" formControlName="idNumber">
              <label for="floatingInput">Enter ID number</label>
              <div class="error"
                *ngIf="(identityCard.get('idNumber')?.invalid && submitted) || (identityCard.get('idNumber')?.touched)">
                <small class="text-danger" *ngIf="identityCard.get('idNumber')?.errors?.['required'] ">
                  ID number required*
                </small>
              </div>
            </div>
            <!-- id picture -->

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
