<div class="container-fluid vh-100 bg" id="">
  <div class="container">
    <div class="row">
      <div class="pt-10">
        <div class="text-center text-violet mt-5 ">
          <h1 class="fs-30 fw-bold text-light">Generate Instant Virtual Card</h1>
          <h1 class="fs-30 fw-bold text-light">With Your Mobile Money Account.</h1>
          <button type="button" class="btn btn-light fw-bold px-5 py-2 my-5 rounded-pill shadow-none"
            [routerLink]=" ['/create-card']" routerLinkActive="active">Get Your Card Now</button>
        </div>
      </div>
      <div class="text-center">
        <img class="vitualCard" width="450" src="../../../assets/images/home-pic.6903466.png" alt="">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="fw-bolder text-light">Why PAYHUB Virtual Dollar Card?</h2>
      </div>
      <div class="col-lg-7">
        <p class="text-light">
          Our innovative service enables you to seamlessly leverage your mobile money account to generate virtual cards,
          revolutionizing the way you manage your finances and conduct online transactions. With this groundbreaking
          feature, you can enjoy a host of benefits, making your financial life more convenient and secure than ever
          before.
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class=" col-lg-5 col-md-12 col-sm-12 ">
        <img class="vitualCard" width="400"
          src="../../../assets/images/3d-hand-making-cashless-payment-from-smartphone_107791-16609-removebg-preview.png"
          alt="">
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center">
        <div class="text-light">
          <h2 class="fw-bolder text-light mt-3">Make online payment with virtual card</h2>
          <p class="m-0">Conveniently make online purchases and payments</p>
          <p class="m-0">Make purchases on a global scale</p>
          <p class="m-0">Safe time and money</p>
          <!-- <p class="m-0">Never lose them</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row col-reverse">
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center ">
        <div class="text-light">
          <h2 class="fw-bolder text-light mt-3">Make purchases with ease.</h2>
          <p>Embrace the ease of virtual cards for online shopping. Quick setup, digital security, and customizable
            features like dynamic details and spending controls put you in charge. Track spending and avoid unexpected
            subscriptions with the widespread acceptance of virtual cards.</p>
        </div>
      </div>
      <div class=" col-lg-5 col-md-12 col-sm-12 ">
        <img class="vitualCard" width="400" src="../../../assets/images/Untitled-42.png" alt="">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row ">
      <div class=" col-lg-5 col-md-12 col-sm-12">
        <img class="vitualCard" width="400" src="../../../assets/images/3d-rendewring-freedom.png" alt="">
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center">
        <div>
          <h2 class="fw-bolder text-light mt-3">Freedom from central bank restrictions.</h2>
          <p class="text-light">Having a bank-issued debit or dollar card can come with a drawback: you're subject to
            the constraints imposed by the
            central bank. It can be quite frustrating when, for instance, you're able to use your debit card for
            international transactions one day, and the next, you face unexpected restrictions that prevent you from
            completing those very transactions.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center my-5 text text-light">
      <h2>Pretty cool, right?</h2>
      <h2>Boost your online purchases with PAYHUB!</h2>
    </div>
  </div>

  <div class="container">
    <pay-footer></pay-footer>
  </div>
</div>