<div class="container-fluid vh-100 bg" id="">
  <div class="container vh-100">
    <div class="row vh-100">
      <div class="pt-10">
        <div class="text-center text-violet mt-5 ">
          <h1 class="fs-30 fw-bold head-text">Get Virtual Cards.</h1>
          <h1 class="fs-30 fw-bold head-text">Anyway, Anytime, Smart.</h1>
          <div class="mt-3">
            <h6 class="text-focus-in fs-6 text-light">With one card you can manage your daily financial and
              also can get more benefits.
            </h6>
          </div>
          <button type="button" class="btn btn-light fw-bold px-5 py-3 mt-3 rounded-pill .">Get Your Card Now</button>
        </div>
      </div>
      <!--image, -->
      <div class="text-center">
        <img class="vitualCard" width="500" src="../../../assets/images/home-pic.6903466.png" alt="">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="fw-bolder text-violet ">Why PAYHUB Virtual Dollar Card?</h2>
      </div>
      <div class="col-lg-7">
        <p class="text-light">
          Our innovative service enables you to seamlessly leverage your mobile money account to generate virtual cards,
          revolutionizing the way you manage your finances and conduct online transactions. With this groundbreaking
          feature, you can enjoy a host of benefits, making your financial life more convenient and secure than ever
          before.
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class=" col-lg-5 col-md-12 col-sm-12 ">
        <img class="vitualCard" width="400"
          src="../../../assets/images/3d-hand-making-cashless-payment-from-smartphone_107791-16609-removebg-preview.png"
          alt="">
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center">
        <div class="text-light">
          <h2 class="fw-bolder text-violet mt-3">Make online payment with virtual card</h2>
          <p>Conveniently make online purchases and payments</p>
          <p>Make purchases on a global scale</p>
          <p>Safe time, money and nature</p>
          <p>Never lose them</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row col-reverse">
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center ">
        <div class="text-light">
          <h2 class="fw-bolder text-violet text-light mt-3">Make purchases with ease.</h2>
          <p>Embrace the ease of virtual cards for online shopping. Quick setup, digital security, and customizable
            features like dynamic details and spending controls put you in charge. Track spending and avoid unexpected
            subscriptions with the widespread acceptance of virtual cards.</p>
        </div>
      </div>
      <div class=" col-lg-5 col-md-12 col-sm-12 ">
        <img class="vitualCard" width="400" src="../../../assets/images/Untitled-42.png" alt="">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row ">
      <div class=" col-lg-5 col-md-12 col-sm-12">
        <img class="vitualCard" width="400" src="../../../assets/images/3d-rendewring-freedom.png" alt="">
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center">
        <div>
          <h2 class="fw-bolder text-violet mt-3">Freedom from central bank restrictions.</h2>
          <p class="text-light">Having a bank-issued debit or dollar card can come with a drawback: you're subject to
            the constraints imposed by the
            central bank. It can be quite frustrating when, for instance, you're able to use your debit card for
            international transactions one day, and the next, you face unexpected restrictions that prevent you from
            completing those very transactions.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row col-reverse">
      <div class="col-lg-7 col-md-12 col-sm-12 d-flex align-items-center">
        <div>
          <h2 class="fw-bolder text-violet mt-3">Keep track of your spending.</h2>
          <p class="text-light">"Using the PAYHUB app, you gain complete insight into your virtual card transactions.
            This empowering feature allows you to proactively monitor and track your spending, giving you the tools to
            make more informed and responsible financial choices, ultimately ensuring your financial well-being.</p>
        </div>
      </div>
      <div class=" col-lg-5 col-md-12 col-sm-12 ">
        <!-- <img class="vitualCard" width="400" src="../../../assets/images/3d-rendewring-freedom.png" alt=""> -->
        <img class="vitualCard" width="500" src="../../../assets/images/3d-purchese.png" alt="">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center my-5 text text-light">
      <h2>Pretty cool, right?</h2>
      <h2>Boost your online purchases with PAYHUB!</h2>
    </div>
  </div>

  <div class="footer">
    <pay-footer></pay-footer>
  </div>
</div>