<div class="container-fluid" id="backgroundImage">
  <div class="row buttons">
    <div class="containe d-flex justify-content-end">
      <div class="d-flex gap-2 mt-3">
        <a type="button" class="btn btn-dark btn-sm rounded-4 px-3" [routerLink]="['/home']"
          routerLinkActive="router-link-active">
          Home
        </a>
        <a type="button" class="btn btn-dark btn-sm rounded-4 px-3" [routerLink]="['/home/login']"
          routerLinkActive="router-link-active">
          Login
        </a>
        <a type="button" class="btn btn-dark btn-sm rounded-4 px-3 " [routerLink]="['/home/signup']"
          routerLinkActive="router-link-active">
          Sign up
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row vh-100 d-flex justify-content-between align-items-center">
      <!-- text -->
      <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
        <h1 class="heading Payments">Smart Payments</h1>
        <h1 class="heading">Anyway,</h1>
        <h1 class="heading">Anytime.</h1>
        <div class="text">
          <h6 class="text-focus-in fs-6 mb-4 ">
            <span class="vitualCard fw-bolder">VIRTUAL CARD</span> is the digital payment services. With one card you
            can manage your daily financial and also can get more benefits.
          </h6>
        </div>
      </div>

      <!--image, signUp and signIn -->
      <div class="col-lg-6 col-md-12 col-sm-12 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
