.heading{
  font-size: 70px;
   color:  #0B2230;
  font-family: Lexend Deca;
}

.text-focus-in{
  // color:  #0B2230;
  color: black;

}

.btn{
  background-color: #275867;
}

.heading{
  // color: #5c2767;
  color: black;
}

.vitualCard{
  color: rgb(255, 0, 221);
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

