<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="px-lg-5 ">
        <!-- scale-in-center -->
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
          <div class="fieldset">
            <!-- select region -->

            <label for="text">Select your region</label>
            <div class="form-item mb-2">
              <select class="custom-select p-3 w-100 shadow-none rounded-4 form-control" (change)="changeRegion($event)"
                formControlName="regionName">
                <option class="text-dark" *ngFor="let region of Regions" [ngValue]="region">{{region}}</option>
              </select>
              <span class="material-symbols-outlined  float-end">
                expand_more
              </span>
              <div class="error" *ngIf="(addressForm.get('regionName')?.invalid && submitted)">
                <small class="" *ngIf="addressForm.get('regionName')?.errors?.['required'] ">
                  Region Name required
                </small>
              </div>
            </div>

            <!-- city -->
            <label for="text">City name</label>
            <div class="form-item mb-2">
              <input type="text" autocomplete="off" required class="form-control rounded-4 shadow-none"
                formControlName="city">

              <div class="error" *ngIf="(addressForm.get('city')?.invalid && submitted)">
                <small class="text-danger" *ngIf="addressForm.get('city')?.errors?.['required'] ">
                  City required
                </small>
              </div>
            </div>

            <!-- address -->
            <label for="text">Address </label>
            <div class="form-item mb-2">
              <input type="text" autocomplete="off" required class="form-control rounded-4 shadow-none"
                formControlName="address">

              <div class="error" *ngIf="(addressForm.get('address')?.invalid && submitted)">
                <small class="text-danger" *ngIf="addressForm.get('address')?.errors?.['required'] ">
                  Address name required
                </small>
              </div>
            </div>

            <!-- button -->
            <div class="button d-flex justify-content-between">
              <button class="btn btn-primary d-flex nextform border-0 shadow-none p-0" type="button"
                (click)="prevSection()">
                <button type="button" class="btn prevForm  text-white btn-sm">Previous</button>
              </button>

              <button class="btn btn-sm  border-0 shadow-none p-0" type="button" (click)="nextSection()"
                *ngIf="section !==3">
                <button type="button" class="btn nextForm btn-primary btn-sm px-3">Next</button>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
