<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="contents">
      <div class="card glassy rounded-0 p-5 border-0 shadow-sm">
        <!-- address form -->
        <form [formGroup]="address" (ngSubmit)="onSubmit()">
          <!-- region-->
          <div class="fieldset">
            <!-- <div class=" form-floating mb-3">
              <input type="accra" class="form-control  shadow-none rounded-0" id="floatingInput" placeholder="region"
                formControlName="region">
              <label for="floatingInput">Region</label>
              <div class="error" *ngIf="(address.get('region')?.invalid && submitted) || (address.get('region')?.touched)">
                <small class="text-danger" *ngIf="address.get('region')?.errors?.['required'] ">
                  Region required*
                </small>
              </div>
            </div> -->

            <!-- select region -->
            <div class="mb-3">
              <select class="custom-select p-2 w-100 shadow-none " (change)="changeRegion($event)"
                formControlName="regionName">
                <option value="">Choose your region</option>
                <option *ngFor="let region of Regions">{{region}}</option>
              </select>
              <div class="error"
                *ngIf="(address.get('regionName')?.invalid && submitted) || (address.get('regionName')?.touched)">
                <small class="text-danger" *ngIf="address.get('regionName')?.errors?.['required'] ">
                  Region Name required*
                </small>
              </div>
            </div>

            <!-- address -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control shadow-none rounded-0" id="floatingInput" placeholder="address"
                formControlName="address">

              <label for="floatingInput">Address</label>
              <div class="error"
                *ngIf="(address.get('address')?.invalid && submitted) || (address.get('address')?.touched)">
                <small class="text-danger" *ngIf="address.get('address')?.errors?.['required'] ">
                  Address required*
                </small>
              </div>
            </div>

            <!-- city -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control shadow-none rounded-0" id="floatingInput" placeholder="city"
                formControlName="city">
              <label for="floatingInput">City</label>
              <div class="error" *ngIf="(address.get('city')?.invalid && submitted) || (address.get('city')?.touched)">
                <small class="text-danger" *ngIf="address.get('city')?.errors?.['required'] ">
                  City required*
                </small>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
