/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// .glassy{
//   background: rgba( 255, 255, 255, 0.35 );
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
// backdrop-filter: blur( 5px );
// -webkit-backdrop-filter: blur( 5px );
// border-radius: 10px;
// }


#image{
  background-image: url('././assets/images/bg.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=number]:focus,
.custom-select {
  // background-color: #ddd;
  outline: none;
}


.form-item{
  position: relative;
  margin-bottom: 15px
}
.form-item input{
  display: block;
  height: 53px;
// width:100%;
  transition: all .2s ease;
  padding: 0 15px
}

.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 15px;
  // font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all .2s ease
}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: 11px;
  top: -5px
}
.form-item input:focus + label{
  color: #28485c;
}
