<div class="container-fluid bg mt-5">
  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="text-light text-center mt-5">
        <h1 class="fs-30 fw-bold">Faqs on PAYHUB virtual cards</h1>

      </div>

      <div class="text-light mt-5">
        <h2 class="fw-bolder ">Why PAYHUB Virtual dollar card?</h2>
        <p class="text-light">
          Our innovative service enables you to seamlessly leverage your mobile money account to generate virtual cards,
          revolutionizing the way you manage your finances and conduct online transactions. With this groundbreaking
          feature, you can enjoy a host of benefits, making your financial life more convenient and secure than ever
          before.
        </p>
      </div>

      <div class="text-light mt-5">
        <h2 class="fw-bolder ">What can I pay for with the PAYHUB virtual Card?</h2>
        <p class="text-light">
          You can make payments across streaming sites and shopping platforms.
        </p>
      </div>

      <div class="text-light mt-5">
        <h2 class="fw-bolder ">Do I need a virtual account to generate a card?</h2>
        <p class="text-light">
          No, you can easily use your your local currency in your mobile money account to generate a virtual card.
        </p>
      </div>

      <div class="text-light mt-5">
        <h2 class="fw-bolder ">Can I withdraw from the Virtual Card?</h2>
        <p class="text-light">
          No, you cannot make withdrawals from the card.
        </p>
      </div>

      <div class="text-light mt-5">
        <h2 class="fw-bolder ">What happens if I already have a PAYHUB virtual account?</h2>
        <p class="text-light">
          You can directly top up your card from your mobile money account and use your card.
        </p>
      </div>

      <div class="container">
        <pay-footer></pay-footer>
      </div>
    </div>
  </div>
</div>